html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: arial, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ins,
a {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: inline-block;
}

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
}

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px;
}

.box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 1.06667rem;
  padding: 0 0.26667rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

header p {
  display: flex;
  align-items: center;
  border-radius: 0.26667rem;
  width: 100%;
  height: 0.93333rem;
  background: #f0f1f2;
}

header p img {
  width: 0.32rem;
  height: 0.32rem;
  padding-left: 0.4rem;
}

header p input {
  padding-left: 0.26667rem;
}

section {
  flex: 1;
  overflow-y: auto;
  padding: 0 0.26667rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

section .top {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

section .top dl {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.26667rem 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

section .top dl dt {
  width: 1.09333rem;
  height: 1.09333rem;
}

section .top dl dt img {
  width: 100%;
  height: 100%;
}

section .top dl dd {
  line-height: 0.8rem;
}

section .chao {
  width: 100%;
  height: auto;
  padding: 0 0.26667rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background: #fe4c3a;
}

section .chao > h2 {
  width: 100%;
  height: 1.2rem;
  line-height: 1.2rem;
  color: #fff;
  font-size: 0.48rem;
}

section .chao .chao_tu {
  width: 100%;
  background: #fff;
  padding: 0.26667rem 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
}

section .chao .chao_tu .chao_tuleft {
  flex: 1;
  display: flex;
}

section .chao .chao_tu .chao_tuleft dl {
  padding-right: 0.26667rem;
}

section .chao .chao_tu .chao_tuleft dl dt {
  width: 2.26667rem;
  height: 2.26667rem;
}

section .chao .chao_tu .chao_tuleft dl dt img {
  width: 100%;
  height: 100%;
}

section .chao .chao_tu .chao_tuleft dl dd > h3 {
  line-height: 0.53333rem;
}

section .chao .chao_tu .chao_tuleft dl dd > h2 {
  color: #fe3931;
  display: flex;
  align-items: center;
}

section .chao .chao_tu .chao_tuleft dl dd > h2 b {
  font-size: 0.48rem;
}

section .chao .chao_tu .chao_tuleft dl dd > h2 span {
  display: flex;
  border: 1px solid #fe3931;
  height: 0.42667rem;
  font-size: 0.26667rem;
  text-align: center;
  line-height: 0.42667rem;
  border-radius: 0.13333rem;
}

section .chao .chao_tu .chao_tuleft dl dd p {
  color: #ccc;
}

section .chao .chao_tu .chao_turight {
  width: 0.53333rem;
  font-size: 0.45333rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-right: 0.4rem;
}

footer {
  width: 100%;
  height: 1.06667rem;
  display: flex;
}

footer dl {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer dl dt {
  width: 0.53333rem;
  height: 0.53333rem;
}

footer dl dd {
  font-size: 0.37333rem;
}
