@import "common.scss";
@import "_minix.scss";
.box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: pxTorem(40px);
    padding: 0 pxTorem(10px);
    @include sizing;
    display: flex;
    align-items: center;
    p {
        display: flex;
        align-items: center;
        border-radius: pxTorem(10px);
        width: 100%;
        height: pxTorem(35px);
        background: #f0f1f2;
        img {
            width: pxTorem(12px);
            height: pxTorem(12px);
            padding-left: pxTorem(15px);
        }
        input {
            padding-left: pxTorem(10px);
        }
    }
}

section {
    flex: 1;
    overflow-y: auto;
    padding: 0 pxTorem(10px);
    @include sizing;
    .top {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        dl {
            width: 20%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: pxTorem(10px) 0;
            @include sizing;
            dt {
                width: pxTorem(41px);
                height: pxTorem(41px);
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            dd {
                line-height: pxTorem(30px);
            }
        }
    }
    .chao {
        width: 100%;
        height: auto;
        padding: 0 pxTorem(10px);
        @include sizing;
        background: #fe4c3a;
        >h2 {
            width: 100%;
            height: pxTorem(45px);
            line-height: pxTorem(45px);
            color: #fff;
            font-size: pxTorem(18px);
        }
        .chao_tu {
            width: 100%;
            background: #fff;
            padding: pxTorem(10px) 0;
            @include sizing;
            display: flex;
            .chao_tuleft {
                flex: 1;
                display: flex;
                dl {
                    padding-right: pxTorem(10px);
                    dt {
                        width: pxTorem(85px);
                        height: pxTorem(85px);
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    dd {
                        >h3 {
                            line-height: pxTorem(20px)
                        }
                        >h2 {
                            color: #fe3931;
                            display: flex;
                            align-items: center;
                            b {
                                font-size: pxTorem(18px);
                            }
                            span {
                                display: flex;
                                border: 1px solid #fe3931;
                                height: pxTorem(16px);
                                font-size: pxTorem(10px);
                                text-align: center;
                                line-height: pxTorem(16px);
                                border-radius: pxTorem(5px)
                            }
                        }
                        p {
                            color: #ccc;
                        }
                    }
                }
            }
            .chao_turight {
                width: pxTorem(20px);
                font-size: pxTorem(17px);
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding-right: pxTorem(15px);
            }
        }
    }
}

footer {
    width: 100%;
    height: pxTorem(40px);
    display: flex;
    dl {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        dt {
            width: pxTorem(20px);
            height: pxTorem(20px);
        }
        dd {
            font-size: pxTorem(14px)
        }
    }
}